



<tr class="item-row"><td><input class="form-control item_name'+f+'"/></td><td><input class="form-control cost"/></td><td><input class="form-control qty" value="0" /></td><td class="price_td"><span class="price">0.00</span><span class="subtotal_currency"></span></td><td><button type="button" <a class="btn btn-danger btn-xs" href="javascript:;"></a>Remove</button></td></tr>');	